body{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(253, 202, 71);
    display: inline;
    padding: 20px;
    margin: 20px;
}
span{
    background-color: tomato;
    padding: 2px;
    margin-top: 20px;
    display: block;
}