* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 20px
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    border: 2px solid rgb(167, 10, 10);
    height: 80vh;
    width: 90vw;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap:nowrap; */
    flex-wrap: wrap;
    /* align-content: center; */
    /* gap: 20px 10px; */
}

.item {
    border: 2px solid rgb(0, 0, 0);
    background-color: violet;
    margin: 20px;
    height: 60px;
    width: 30px;
    border-radius: 16vh;
    /* flex-grow:1; */
    /* flex-shrink: 1; */
}

.order1 {
    order: 1;
}

.item2 {
    /* flex-grow:2; */
    /* flex-shrink: 2; */
    /* align-self:flex-end; */
}