*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border:2px solid black;
    height:80vh;
    width:100vw;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;

}
.item{
    border: 2px solid violet;
    height: 30px;
    width: 30px;
    background-color: aquamarine;
}