*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
    color:red;
    background-color: aqua;
    border:2px solid Blue;
    margin: 20px;
    padding: 10px;
    height: 200px;
    width:200px;
    box-sizing:border-box;  
}
.box2{
    color:brown;
    background-color: aquamarine;
    border:2px solid red;
    margin:20px;
    padding :10px;
    height:200px;
    width:200px;
}